:root {
  --color-input-bg: #262626;
  --color-input-focus: #fcfcfc;
  --color-input-text: #cdcdcd;
  --color-input-text-focus: #2a2a2a;
  --color-border-focus: #46a0f5;
  --color-border: #3e3e3e;
}


.appGrid {
  box-sizing: border-box;
  width: 100%;
  /* height: 42px; */
  /* border: 2px solid red; */
  height: var(--panel-height);
  overflow: hidden;
}

.label {
  box-sizing: border-box;
  border: 1.35px solid var(--color-border);
  width: .65rem;
  margin-left: .5rem;
}



.texter {
  display: flex;
  justify-content: flex-start;
  /* width: 100%; */
  flex-wrap: nowrap;
  font-size: .75rem;
  font-family: 'Rubik';
  margin: .5rem 0px 0px .5rem;
  /* border: 2px solid red; */
}

.texter-input, .texter-idle {
  border: 1.35px solid var(--color-border);
  border-radius: .25rem;
  margin-left: .25rem;
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
  padding: .25rem .5rem;
}

.texter-prefix {
  border: 1.35px solid var(--color-border);
  border-radius: .25rem;
  max-width: 3rem;
  margin-left: .25rem;
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
  padding: .25rem .5rem;
}

.texter-prefix-idle {
  max-width: 3rem;
  border: 1.35px solid var(--color-border);
  border-radius: .25rem;
  padding: .25rem .5rem;
  margin-left: .25rem;
}

.texter-idle:not(:focus), .texter-prefix-idle:not(:focus) {
  background-color: var(--color-input-idle);
  color: var(--color-input-text);
}

.texter-input:focus, .texter-idle:focus, .texter-prefix:focus, .texter-prefix-idle:focus {
  background-color: var(--color-input-focus);
  color: var(--color-input-text-focus);
}
